* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Crimson Text", serif;
  text-align: center;
}

header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#logo {
  border: 0.5px solid grey;
  border-radius: 50%;
  width: 40px;
  height: 41px;
  cursor: pointer;
}
#logo:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#logo img {
  max-width: 100%;
  height: auto;
}
header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

ul.navigation li {
  padding: 2px 12px;
  cursor: pointer;
}
.btn {
  background-color: #222831;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 13px;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#mblBtn {
  background: none;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
}
#mblBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#mblBtn img {
  max-width: 100%;
  height: auto;
}
.dropdown {
  position: relative;
}
.dropdownContent {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px;
  position: absolute;
  display: none;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdownContent a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 20px;
  line-height: 1.4;
}
.dropdownContent a:hover {
  background-color: #ddd;
}
/* To display dropdown Item Properly */
.dropdownItem {
  width: 250px;
  text-align: left;
}
.border:hover {
  border: 1px solid #222831;
}
#heroText {
  font-family: "Dancing Script", cursive;
  padding: 20px;
}
#heroText h3 {
  font-size: 125px;
  font-weight: 50;
  padding-top: 30px;
}
#heroText p {
  padding-top: 30px;
  font-size: 50px;
}
.svgImage {
  width: 500px;
  margin: 40px auto 0px auto;
  height: auto;
}
.svgImage img {
  max-width: 100%;
  height: auto;
}
.myImage {
  width: 300px;
  margin: 40px auto 0px auto;
  height: auto;
}
.myImage img {
  border: none;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.designImage {
  min-width: 200px;
  width: 280px;
  height: auto;
}
.designImage img {
  max-width: 100%;
  height: auto;
}
hr {
  border: dotted rgba(0, 0, 0, 0.5) 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.secondContainer h4 {
  font-size: 40px;
}

.aboutMySelf {
  font-size: 27px;
  line-height: 1.6;
}
.introduction {
  padding: 0 30px;
}
.first,
.second {
  width: 78%;
  margin: 50px auto 50px auto;
}
.first .left {
  float: left;
  margin-right: 5px;
}

.second .right {
  float: right;
  margin-left: 5px;
}
.fourthContainer {
  padding: 0px 40px;
}
.thirdContainer h3,
.fourthContainer h3 {
  font-size: 45px;
  padding: 0 0 20px 0;
}
.thirdContainer h4,
.fourthContainer h4 {
  font-size: 32px;
  padding-bottom: 5px;
}
.thirdContainer p,
.fourthContainer p {
  font-size: 25px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#contactBtn {
  margin-top: 10px;
}
#contactBtn a {
  text-decoration: none;
  color: white;
}
footer {
  width: 100vw;
  background-color: #222831;
  padding: 20px;
  margin-top: 15px;
}
.socialMedia ul {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.socialMedia ul li {
  list-style-type: none;
  padding: 0 15px;
}

.socialMedia ul li .fa {
  font-size: 25px;
  line-height: 45px;
  transition: 0.6s;
  color: black;
}

.socialMedia ul li .fa:hover {
  color: white;
}

.socialMedia ul li a {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 4px rgb(0, 0, 0, 0.5);
  transition: 0.6s;
  text-align: center;
}
.socialMedia ul li:nth-child(1) .fa:hover {
  color: black;
}

.socialMedia ul li a:hover {
  transform: translate(0, -5px);
}

.socialMedia ul li:nth-child(1) a:hover {
  background-color: whitesmoke;
}

.socialMedia ul li:nth-child(2) a:hover {
  background-color: #3b5999;
}
.socialMedia ul li:nth-child(3) a:hover {
  background-color: #55acee;
}
.socialMedia ul li:nth-child(4) a:hover {
  background-color: #e4405f;
}

.socialMedia ul li:nth-child(5) a:hover {
  background-color: rgba(255, 0, 0, 0.6);
}
.copyright {
  font-size: 20px;
  color: white;
  padding-top: 12px;
}

@media screen and (max-width: 519px) {
  .svgImage {
    width: 280px;
  }
  .myImage {
    width: 240px;
  }
  #mblBtn {
    position: absolute;
    right: 15px;
  }
}
@media screen and (max-width: 482px) {
  header ul {
    font-size: 18px;
  }
  .dropdownContent a {
    padding: 10px 0;
    font-size: 12px;
  }
  #mblBtn {
    top: 20px;
  }

  .dropdownItem {
    width: 170px;
  }
  #heroText h3 {
    font-size: 100px;
  }
  #heroText p {
    font-size: 40px;
  }
}
@media screen and (max-width: 374px) {
  #mblBtn {
    top: 56px;
  }
}

/* we have to  make design for less than 336px device */
